
/* CSS declarations go here */
td{ 
/*border: 1px solid black;*/

width: 30%;
}
img{
  display:block;
 
}


#teams {
  position:relative;
  overflow:hidden;
  font-size:24px;
  line-height:30px;
  margin-bottom:10px;
  text-align: center;
}
#teams li {
  width:45%;
  float:left;
  padding:10px;
  border-radius:6px;
  /*opacity:0.5;*/
}



#teams img {
  display:block;
  width:60px;
  height:60px;
  border-radius:50%;
  float:left;
  margin-right:10px;
}
#teams h2 {
  font-weight:bold;
}
#teams h2 span {
  font-size:30px;
}
.true{
  background:blue;
  color:#fff;
  opacity:1;
}
.false{
   background:rgba(0,0,0,0.2);
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background:rgba();
  opacity: 0.5;
}
#game {
  /*position:absolute;*/
  width:60%;
  padding:12px 60px 60px 60px;
  margin: 0 auto;
  /*top:50%;
  left:50%;
  margin:-420px 0 0 -300px;*/
}

html,body {
  height:100%;
  width:100%;
  height:100%;
  min-width:570px;
  min-height:590px;
}

td.main{
  height: 200px;
  width: 200px;
}

td{ 
  height:60px;
  width:60px;
  border:2px solid rgba(0,0,0,0.7);
  box-sizing:border-box;
  text-align:center;
  line-height:50px;
  font-size: 60px;
}
img{
  display:block;
}
body{
 /* background:#11051F;*/
/*  background:darkgrey;*/
/*background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQS2NFPps85UicDoqu5nVencdKXyMt7zELWe-9bIePaeD7LyXiI');*/
background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSoUdwlEsI6iCgOL89zRAmWOEppZAaILYvD3la9U-f5H-ZAekx03g');
/*background-repeat: no-repeat;*/

}
table{
  background:white;
}
#teams {
  position:relative;
  overflow:hidden;
  font-size:24px;
  line-height:30px;
  margin-bottom:10px;
  text-align: center;
}
#teams li {
  width:45%;
  float:left;
  padding:10px;
  border-radius:6px;
  /*opacity:0.5;*/
}
#teams li:last-child {
  float:right;
}
/*#teams li.current {
  background:forestgreen;
  color:#fff;
  opacity:1;
}*/

#teams img {
  display:block;
  width:60px;
  height:60px;
  border-radius:50%;
  float:left;
  margin-right:10px;
}
#teams h2 {
  font-weight:bold;
}
#teams h2 span {
  font-size:30px;
}
.true{
  background:blue;
  color:#fff;
  opacity:1;
}
.false{
   background:rgba(0,0,0,0.2);
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background:rgba();
  opacity: 0.5;
  color:grey;
}
#game {
  /*position:absolute;*/
  width:60%;
  padding:12px 60px 60px 60px;
  margin: 0 auto;
  /*top:50%;
  left:50%;
  margin:-420px 0 0 -300px;*/
}
#newWin{
  height: 480px;
  width:480px;
  border:1px solid rgba(0,0,0,0.6);
  box-sizing:border-box;
}
#winnerBoard{
  text-align:center;
  line-height:150px;
  font-size:465px;
  background-color: white;
}
div#mainB {

margin-bottom: 50px;
}
.players{
  margin-top: 60px;
  padding-bottom: 20px;
}

span.sign {
border: 1px solid;
/* padding: 5px; */
padding-left: 10px;
padding-right: 10px;
}

li#Obi, li#Darth{
/*  padding-bottom: 24px;*/
}

.inner.Board{
  margin-left: 5px;
}
#firstBoard, #firstBoard>td{
}

table{
  border-spacing: 0px;

}

#main1{
  border-top: 3px solid green;
  border-right:  solid white;
}
#main2{
  border-left: solid white;
}
#innerBoard1, #innerBoard4, #innerBoard7{
  padding-left: 5px;
}
#main1, #main2,#main3,#main4, #main5, #main6, #main7, #main8, #main9{
  border: 0px solid white;
}
.topleft{
  border-top : 3px solid black;
  border-left: 3px solid black;
}
.topmiddle{
  border-top: 3px solid black;
}
.topright{
  border-top: 3px solid black;
  border-right: 3px solid black;
}
.middlerowleft{
  border-left:3px solid black;
}
.middlerowright{
  border-right: 3px solid black;
}
.bottomleft{
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}
.bottommiddle{
  border-bottom: 3px solid black;
}
.bottomright{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

